#google{
    margin-left: 530px;
    margin-top: 155px;
}
#bar{
    border-radius: 90px;
    height: 44px;
    width: 561px;
    border: outset 2px;
    margin-left: 390px;
    margin-top: 30px;
}
#btn-1{
    border: none;
    height: 32px;
    width: 32px;
    margin-top: 5px;
    background: transparent;
}
.item{
    margin-left: 5px;
    color: gray;
    font-weight:500;
    text-decoration: none;
    font-size: small;
}
#gm{
    margin-left:1185px ;
}
.card{
   
    border: none;
    max-width: 112px;
    max-height: 112px;
}
.card-group{
    margin-left: 525px;
    margin-top: 32px;
    
}
#csb{
    margin-top: 120px;
    margin-left: 1190px;
    border-radius: 90px;
    border: outset 2px;
    font-size: small;
    width: 166.45px;
    height: 32px;
    color: #3578eb;
    background: transparent;
}
#wsi{
    max-width: 24px;
    max-height: 24px;
    margin: 12px;
}
#p2{
    font-size: small;
    margin-top: 10px;

}
#sp{
    border-radius: 50%;
    background-color: #f4f4f4;
    height: 48px;
    width: 48px;
    margin-left: 1px;
}